body{
	margin:0 auto;
	background-color: white;
}
#fellow_dets{
	margin: 0 auto;
	padding-left: 10px;
	width: 80%;
	height: 450px;
	background-color: #E6E6E6;
	display: none;
}

#submit{
	width:200px;
	height: 200px;
	margin: 0 auto;	
	padding:10px;
}

#delete_row{
	display: none;
}

#table_btns{
	width:400px;
	height: 200px;
}

h6{
	color:red !important;
	display:none ;
}